/**
 * -----------------------------------------------
 * Last Modified: 2019-11-25 18:40:16
 * Author: Nana (nana@thevitolabs.com)
 * Description: Hyodu CSS
 * -----------------------------------------------
 */

@charset "UTF-8";
/*! style.css */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
small article,
aside,
footer,
header,
nav,
address,
section,
main,
time,
ol,
ul,
li,
hr,
strong,
figure,
tr,
th,
td,
dl,
dt,
dd,
fieldset {
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
		-webkit-text-size-adjust: none;
		font-style: normal;
}

*,
*::before,
*::after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}

[tabindex="-1"]:focus {
		outline: 0 !important;
}

ul,
ol,
li,
dl {
		list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
		text-decoration: none;
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		color: inherit;
}

a:hover,
a:active {
		outline: 0;
}

a,
button {
		-webkit-tap-highlight-color: rgba(238, 186, 186, 0.4);
}

button:disabled,
button[disabled] {
		-webkit-tap-highlight-color: transparent;
		color: inherit;
}

hr {
		display: none;
}

button {
		display: block;
		margin: 0;
		padding: 0;
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		border: 0;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		background: none;
		cursor: pointer;
}

button:focus {
		outline: 0;
}

i {
		font-style: normal;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
		-ms-touch-action: manipulation;
		touch-action: manipulation;
}

table {
		border-collapse: collapse;
}

caption {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		color: #868e96;
		text-align: left;
		caption-side: bottom;
}

th {
		text-align: inherit;
}

input {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		width: 100%;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		vertical-align: top;
		border-radius: 0;
		-webkit-border-radius: 0px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		background-color: transparent;
		border: 1px solid transparent;
}

input[type="password"] {
		font-family: sans-serif, Helvetica;
		letter-spacing: 1px;
}

input[type="password"]::-webkit-input-placeholder {
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		letter-spacing: 0;
}

input[type="password"]:-moz-placeholder {
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		letter-spacing: 0;
}

input[type="password"]::-moz-placeholder {
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		letter-spacing: 0;
}

input[type="password"]:-ms-input-placeholder {
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		letter-spacing: 0;
}

input[type="text"],
input[type="email"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
}

input:disabled,
input[readonly] {
		opacity: 1;
		-webkit-text-fill-color: inherit;
}

html {
		position: relative;
		width: 100%;
		min-width: 100%;
		min-height: 100%;
		height: 100%;
		line-height: 1.15;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		-ms-overflow-style: scrollbar;
		-webkit-tap-highlight-color: transparent;
		font-size: 62.5%;
		font-weight: 500;
}

body {
		position: relative;
		min-height: 100%;
		height: 100%;
		overflow-y: auto;
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		color: #221714;
		text-align: left;
		font-weight: 500;
		line-height: 1.5;
		background-color: #fff;
		-webkit-font-smoothing: antialiased;
}

.wrap {
		position: relative;
}

a:focus {
		opacity: 1;
		outline: 0;
		-webkit-tap-highlight-color: rgba(252, 21, 21, 0.5);
}

.section {
		position: relative;
		overflow: hidden;
}

.container {
		margin: 0 auto;
}

.fill {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
}

.fill + [class$="-content"] {
		position: relative;
		z-index: 1;
}

.fill[class$="--tertiary"] {
		background: #fdf0e5;
}

.fill[class$="--secondary"] {
		background: #eefbff;
}

.fill[class$="--getapp"] {
		background: #ecf1fd;
}

.fill[class$="--getapp2"] {
		background: #ecf1fd;
		background: #f2eccc;
}

.grid {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
}

.grid-col.--right {
		padding-left: 90px;
}

.svgsprite {
		display: inline-block;
		width: 1em;
		height: 1em;
		fill: currentColor;
		vertical-align: middle;
}

.text-hidden {
		position: absolute;
		position: absolute;
		left: -9999px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
}

.getapp-footer-container,
.feature-container {
		padding: 0 30px;
}

@media screen and (min-width: 768px) {
		.getapp-footer-container,
		.feature-container {
				padding: 0 50px;
		}
}

@media screen and (min-width: 1600px) {
		.getapp-footer-container,
		.feature-container {
				padding: 0 70px;
		}
}

@media screen and (min-width: 1024px) {
		.getapp-footer-container,
		.feature-container {
				max-width: 1200px;
				padding: 0 270px 0 130px;
		}
}

@media screen and (min-width: 1600px) {
		.getapp-footer-container,
		.feature-container {
				max-width: 1600px;
				padding: 0 270px 0 270px;
		}
}

@keyframes Ani_sign-marquee {
		0% {
				-webkit-transform: translate3d(0, 0, 0);
				-moz-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
		}
		100% {
				-webkit-transform: translate3d(-100%, 0, 0);
				-moz-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
}

@keyframes wt-navbar-menu-nav-show {
		0% {
				-webkit-transform: skewY(7deg) translateY(110%);
				-moz-transform: skewY(7deg) translateY(110%);
				-o-transform: skewY(7deg) translateY(110%);
				transform: skewY(7deg) translateY(110%);
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
		}
		100% {
				-webkit-transform: skewY(0) translateY(0);
				-moz-transform: skewY(0) translateY(0);
				-o-transform: skewY(0) translateY(0);
				transform: skewY(0) translateY(0);
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
		}
}

@keyframes Ani_menu-show {
		0% {
				opacity: 0;
				transform: skewY(7deg) translateY(110%);
				transform-origin: left center;
		}
		100% {
				opacity: 1;
				transform: skewY(0) translateY(0);
				transform-origin: left center;
		}
}

body {
		background-color: #f4d1c7;
}

.wrap {
		overflow-x: hidden;
		overflow-y: auto;
		width: 100vw;
		height: 100vh;
		font-family: 'Noto Sans KR', sans-serif;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
		background-color: #f6d2e7;
		background-image: -moz-linear-gradient(top, #f8d3fc, #f4d1c7);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8d3fc), to(#f4d1c7));
		background-image: -webkit-linear-gradient(top, #f8d3fc, #f4d1c7);
		background-image: -o-linear-gradient(top, #f8d3fc, #f4d1c7);
		background-image: linear-gradient(to bottom, #f8d3fc, #f4d1c7);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8D3FC', endColorstr='#FFF4D1C7', GradientType=0);
}

.main {
		position: relative;
		min-width: 320px;
		width: 100vw;
		height: 100vh;
		min-height: 720px;
		max-height: 1600px;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
}

.lines-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
}

.lines-container {
		overflow: hidden;
		position: absolute;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		-moz-pointer-events: none;
		-webkit-pointer-events: none;
		-o-pointer-events: none;
		-ms-pointer-events: none;
		pointer-events: none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.lines-container svg {
		width: 100vw;
		min-width: 960px;
		max-width: 1600px;
}

.lines-container-2 {
		z-index: 1;
		left: 4px;
		top: 4px;
}

.lines-container-2 svg {
		transform: scaleY(0.95);
}

.logo {
		position: relative;
		width: 230px;
		height: 230px;
}

@media screen and (min-width: 768px) {
		.logo {
				margin-top: -20px;
				width: 320px;
				height: 320px;
		}
}

@media screen and (min-width: 1024px) {
		.logo {
				margin-top: -30px;
				width: 380px;
				height: 380px;
		}
}

@media screen and (min-width: 1600px) {
		.logo {
				margin-top: -30px;
				width: 410px;
				height: 410px;
		}
}

.logo .logo-text {
		position: absolute;
		left: -9999px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
}

.logo #hyoduSVG {
		z-index: 10;
		position: absolute;
		width: 100%;
		height: 100%;
}

.logo #hyoduSVG-shadow {
		position: absolute;
		top: 0px;
		left: 5px;
		width: 100%;
		height: 100%;
}

@media screen and (min-width: 1024px) {
		.logo #hyoduSVG-shadow {
				left: 7px;
		}
}

.text {
		position: relative;
		z-index: 10;
		top: 10px;
		margin-top: 40px;
		text-align: center;
}

@media screen and (min-width: 1600px) {
		.text {
				margin-top: 30px;
		}
}

.text .intro {
		font-size: 16px;
		opacity: 0;
		text-shadow: 2px 2px 8px rgba(116, 105, 105, 0.2);
}

@media screen and (min-width: 768px) {
		.text .intro {
				font-size: 18px;
		}
}

@media screen and (min-width: 1024px) {
		.text .intro {
				font-size: 19px;
		}
}

@keyframes show {
		0% {
				transform: translateY(20px);
				opacity: 0;
		}
		100% {
				transform: translateY(0);
				opacity: 1;
		}
}

.text .coming {
		opacity: 0;
		display: block;
		font-size: 17px;
		line-height: 188%;
		font-weight: 700;
		text-shadow: 2px 2px 8px rgba(116, 105, 105, 0.2);
}

@media screen and (min-width: 768px) {
		.text .coming {
				font-size: 20px;
				line-height: 180%;
		}
}

@media screen and (min-width: 1024px) {
		.text .coming {
				font-size: 22px;
				line-height: 165%;
		}
}

.footer {
		opacity: 0;
		position: absolute;
		bottom: 14px;
		left: 0;
		width: 100%;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		font-size: 11px;
}

@media screen and (min-width: 768px) {
		.footer {
				bottom: 16px;
				font-size: 12px;
		}
}

@media screen and (min-width: 1024px) {
		.footer {
				bottom: 20px;
				font-size: 13px;
		}
}

.footer .svg-vl {
		width: 90px;
		height: 15px;
}

@media screen and (min-width: 768px) {
		.footer .svg-vl {
				margin-top: 2px;
				width: 100px;
				height: 18px;
		}
}

@media screen and (min-width: 1024px) {
		.footer .svg-vl {
				width: 110px;
				height: 19px;
		}
}

.footer .link {
		opacity: 0.6;
		color: #333;
		position: relative;
		display: block;
		letter-spacing: 0.22px;
}

.footer .link.link-vl {
		opacity: 0.7;
}

.footer .link:hover {
		opacity: 1;
}

.footer .footer-list {
		position: relative;
		margin-left: 19px;
}

@media screen and (min-width: 768px) {
		.footer .footer-list {
				margin-left: 23px;
		}
}

.footer .footer-list:first-child {
		margin-left: 0;
}

.footer .footer-list:first-child:before {
		display: none;
}

.footer .footer-list:before {
		-moz-pointer-events: none;
		-webkit-pointer-events: none;
		-o-pointer-events: none;
		-ms-pointer-events: none;
		pointer-events: none;
		position: absolute;
		top: 2px;
		left: -10px;
		display: block;
		content: '';
		width: 2px;
		height: 12px;
		background: rgba(63, 60, 60, 0.3);
}

@media screen and (min-width: 768px) {
		.footer .footer-list:before {
				left: -13px;
				height: 14px;
		}
}

@media screen and (min-width: 1024px) {
		.footer .footer-list:before {
				top: 4px;
		}
}

/*! 
  ...
  from Nana with 💖
*/
