.nav {
  &-strip {
    z-index: 99; //항상 최상단에 표시;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 64px;
    transition: top 0.4s, transform 0.4s, background 0.3s, -webkit-transform 0.4s, -moz-transform 0.4s,
      -o-transform 0.4s;

    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.9);

    @include res--laptop {
      top: 25px;
      backdrop-filter: none;
      background-color: transparent;
    }
  }

  &-container {
    height: 100%;
    padding: 0 30px;

    @include res--tablet {
      padding: 0 50px;
    }

    @include res--desktop {
      padding: 0 70px;
    }
  }

  &-grid {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    height: 100%;
  }

  &-logo {
    //로고
    width: 99px;
    height: 13px;

    @include res--tablet {
      width: 114px;
      height: 17px;
    }

    &-link {
      display: block;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-menu {
    //메뉴 영역
    display: none;

    @include res--tablet {
      display: inline-block;
      margin-right: 20px;
    }

    @include res--laptopLG {
      margin-right: 30px;
    }
  }

  &-menu-item {
    //각 링크 메뉴
    //normal
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.21px;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;

    @include res--laptop {
      font-size: 15px;
      letter-spacing: -0.22px;
    }

    @include res--laptopLG {
      padding: 10px 35px;
    }

    &:hover {
      .nav-menu-item-text {
        transform: skewY(7deg) translateY(-140%);
        &:after {
          transform: skewY(-7deg);
        }
      }
    }

    &-bound {
      //영역 지정 용도
      display: block;
      overflow: hidden;
    }

    &-text {
      //실질 텍스트
      position: relative;
      display: block;
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      transform-origin: left center;

      &:after {
        // hover시 나타날 텍스트 효과
        content: attr(data-text);
        display: block;
        position: absolute;
        top: 140%;
        color: red; //TODO:변경
        transform: skewY(30deg);
        transform-origin: left center;
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }

  &-menu-btn {
    //다운로드 버튼
    display: none;

    @include res--tablet {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &-menu-burger {
    //버거 버튼
    display: inline-block;
    vertical-align: middle;

    @include res--tablet {
      display: none;
    }
  }
}

//모바일용 네비게이션
.nav-mobile {
  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  max-height: 0;
  transform-origin: top center;
  transition: max-height 0.7s cubic-bezier(0.19, 1, 0.22, 1) 400ms;

  &-fill {
    //배경
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // transform: scaleY(0);
    background-color: #fff;
  }

  &-content {
    //실질 컨텐츠
    opacity: 0;
    position: relative;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    height: 100%;
    color: #005ffe;
    text-align: center;
    transition: opacity 500ms;
  }

  &-item {
    display: block;
    padding: 10px 0;
    overflow: hidden;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -0.59px;
    line-height: 120%;

    &-text {
      display: block;
      color: inherit;
    }

    &:hover {
      color: #2128bd;
    }
  }
}

//모바일에서 메뉴가 열린 경우
.nav.-open {
  .nav-mobile {
    max-height: 100%;
    transition: max-height 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .btn-burger-line {
    transition: top 0.3s, transform 0.3s 0.3s;

    &:nth-child(1) {
      top: 4px;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      top: -2px;
      transform: rotate(-45deg);
    }
  }

  .nav-mobile-content {
    opacity: 1;
  }

  .nav-mobile-fill {
    transform: scaleY(1);
  }

  $_maxLength: 2;
  @for $i from 0 to $_maxLength {
    .nav-mobile-item:nth-child(#{$i + 1}) .nav-mobile-item-text {
      animation-delay: #{($i + 1) * 200}ms;
    }
  }

  .nav-mobile-item-text {
    animation: Ani_menu-show 1s cubic-bezier(0.19, 1, 0.22, 1) backwards;
  }
}
