// Font
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);



body {
  background-color: #f4d1c7;
  padding: 0;
  margin: 0;
}

.wrap {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  @include vertical-gradient(#f8d3fc, #f4d1c7);
}

.main {
  position: relative;
  min-width: 320px;
  width: 100vw;
  height: 100%;
  min-height: 540px;
  max-height: 1600px;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  @include res--laptop {
    // min-height: 640px;
  }
}

.lines-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.lines-container {
  overflow: hidden;
  position: absolute;
  width: 100vw;

  height: 100vh;
  // top: 50%;
  // left: 0;
  // transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  @include pointer-none;
  @include select-none;

  svg {
    width: 100vw;
    min-width: 960px;
    max-width: 1600px;
    // height: 100vh;
  }
}

.lines-container-2 {
  z-index: 1;
  left: 4px;
  top: 4px;

  svg {

    transform: scaleY(0.95);
  }
}

.logo {
  position: relative;
  width: 230px;
  height: 230px;

  @include res--tablet {
    margin-top: -20px;
    width: 320px;
    height: 320px;
  }

  @include res--laptop {
    margin-top: -30px;
    width: 380px;
    height: 380px;
  }

  @include res--desktop {
    margin-top: -30px;
    width: 410px;
    height: 410px;
  }

  .logo-text {
    @include text-hidden;
  }


  #hyoduSVG {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #hyoduSVG-shadow {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 100%;
    height: 100%;

    @include res--laptop {
      left: 7px;
    }
  }
}

.text {
  position: relative;
  z-index: 10;
  top: 10px;
  margin-top: 40px;
  text-align: center;

  @include res--desktop {
    margin-top: 30px;
  }

  .intro {
    font-size: 16px;
    opacity: 0;
    text-shadow: 2px 2px 8px rgba(116, 105, 105, 0.2);

    @include res--tablet {
      font-size: 18px;
    }

    @include res--laptop {
      font-size: 19px;
    }

  }

  @keyframes show {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .coming {
    // animation: show 2s;
    opacity: 0;
    display: block;
    font-size: 17px;
    line-height: 188%;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(116, 105, 105, 0.2);

    @include res--tablet {
      font-size: 20px;
      line-height: 180%;
    }

    @include res--laptop {
      font-size: 22px;
      line-height: 165%;
    }
  }
}

.footer {
  opacity: 0;
  position: absolute;
  bottom: 24px;
  left: 0;
  width: 100%;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  font-size: 11px;

  @include res--tablet {
    bottom: 26px;
    font-size: 12px;
  }

  @include res--laptop {
    font-size: 13px;
  }

  .svg-vl {
    width: 90px;
    height: 15px;

    @include res--tablet {
      margin-top: 2px;
      width: 100px;
      height: 18px;
    }

    @include res--laptop {
      width: 110px;
      height: 19px;
    }
  }

  .link {
    opacity: 0.6;
    color: #333;
    position: relative;
    display: block;
    letter-spacing: 0.22px;

    &.link-vl {
      opacity: 0.7;
    }

    &:hover {
      opacity: 1;
    }
  }

  .footer-list {
    position: relative;
    margin-left: 19px;

    @include res--tablet {
      margin-left: 23px;
    }


    &:first-child {
      margin-left: 0;

      &:before {
        display: none;
      }
    }

    &:before {
      @include pointer-none;
      position: absolute;
      top: 2px;
      left: -10px;
      display: block;
      content: '';
      width: 2px;
      height: 12px;
      background: rgba(63, 60, 60, 0.3);


      @include res--tablet {
        left: -13px;
        height: 14px;
      }

      @include res--laptop {
        top: 4px;
      }
    }
  }
}