.emoji {
  display: inline-block;
  vertical-align: middle;
  @include bgi("emoji");

  &-alarm {
    background-position: -77px -76px;
    width: 25px;
    height: 28px;
  }

  &-book {
    background-position: 0 -109px;
    width: 24px;
    height: 29px;
  }

  &-darts {
    background-position: -48px -76px;
    width: 28px;
    height: 28px;
  }

  &-ok {
    background-position: -144px -44px;
    width: 31px;
    height: 40px;
  }

  &-moneybag {
    background-position: -144px 0;
    width: 32px;
    height: 43px;
  }

  &-money {
    background-position: 0 -76px;
    width: 47px;
    height: 32px;
  }

  &-clutch {
    background-position: -99px -38px;
    width: 40px;
    height: 36px;
  }

  &-diamond {
    background-position: -99px 0;
    width: 44px;
    height: 37px;
  }
}
