// -------------------------
// [ path ]
// -------------------------
$path-image: "../images/";
$path-font: "../fonts/";

// -------------------------
// [ font-weight ]
// -------------------------
$fw-b: 900;
$fw-bl: 700;
$fw-m: 500;
$fw-r: 400;

// -------------------------
// [ color ]
// -------------------------
$blue: #0b21ee;
$yellow: #fffc00;